#files to ignoring
*.pyc
*.pyo
*.hg*
*.kpf
*.sock
*.conf
*.config
config
*.debug_config
*.server_config
#*#
\#*\#
.#*
.rope*
venv
local_settings.py
local_settings.pyc
debug.log
pip-log.txt
*.rdb
*.log
*.err
*.db
*.db-journal
*.pid
*.egg-info*